<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DS_III_Proyecto_final_Caja_APP.Properties.Settings.hotelConnectionString"
            connectionString="Data Source=SUSANPC;Initial Catalog=hotel;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
       
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>